.reviews {
  background: #111;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.reviews h2 {
  color: #d4af37;
  margin-bottom: 30px;
  font-size: 28px;
}

.reviews-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* расстояние между стрелками и слайдером */
  max-width: 1100px;
  margin: 0 auto;
}

.reviews-slider {
  flex: 1;
  max-width: 900px;
}

.swiper-slide {
  background: #1c1c1c;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  box-sizing: border-box;
}

.review-card .review-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.review-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #d4af37;
  margin-right: 10px;
}

.review-card h3 {
  margin: 0;
  font-size: 16px;
  color: #fff;
}

.review-card span {
  font-size: 14px;
  color: #d4af37;
}

.review-card p {
  font-size: 15px;
  line-height: 1.4;
  color: #ccc;
}

/* Стрелки */
.swiper-button-prev,
.swiper-button-next {
  position: static !important;   /* убираем абсолют */
  color: #d4af37 !important;
  background: #111 !important;
  border: 2px solid #d4af37 !important;
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transition: 0.3s !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  font-weight: bold !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  box-shadow: 0 0 15px 5px rgba(212, 175, 55, 0.8) !important;
  transform: scale(1.1) !important;
}

@media (max-width: 600px) {
  .review-card .review-header {
  flex-direction: column;
}
}


